.HomePage {
  .Dashboard {
    .DashboardCard {
      height: 100%;
      .Title {
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
  }

  .TopSelling {
    img {
      width: 45px;
      height: 45px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}