.ProductsPage {
  .TableViewProducts {
    table {
      img {
        border-radius: 3px;
        height: 100%;
        width: 100%;
        max-height: 45px;
        max-width: 45px;
        object-fit: cover;
      }

      svg {
        cursor: pointer;
      }
    }
  }

  .PaginationContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }
}