@import "layout/app";
@import "layout/header";
@import "layout/main";
@import "layout/footer";

@import "components/loading";

@import "app/home";
@import "app/products_page";
@import "app/orders_page";
@import "app/order_details";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font-family: Nunito,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #606975;
}